@*@using Microsoft.AspNetCore.Identity
@using DrugStore.Areas.Identity.Data

@inject SignInManager<AppNetUser> SignInManager
@inject UserManager<AppNetUser> UserManager*@
@using DrugStore.Models.Entities
@{
    DrugStoreDbContext dbContext = new DrugStoreDbContext().Created();
}


<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@dbContext.AspNetUsers.Find(UserManager.GetUserId(User)).LastName</a>
    </li>
    <li class="nav-item">
         @if (User.IsInRole("Admin") || User.IsInRole("Manager".ToUpper().Trim()))
        {
            <a id="manage" class="nav-link text-dark" title="Manage" asp-area="Admin" asp-action="Index" asp-controller="HomeAdmin">Quản lý</a>
        }else if (User.IsInRole("User"))
        {
            <a id="manage" class="nav-link text-dark" title="Manage" asp-action="Index" asp-controller="Bill">Hóa đơn của bạn</a>
        }
    </li>
    
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="btn btn-info btn-lg">Đăng xuất<img src="/theme/img/logouticon2.png" title="logout-icon" class="logout-icon"></button>
        </form>
    </li>
}
else
{
   @* <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>*@
    @*<li class="nav-item">*@
        <a id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-user"> Đăng Nhập</i></a>
    @*</li>*@
    @*<a href="#"><i class="fa fa-user"></i> Đăng Nhập</a>*@
}
</ul>
