@using DrugStore.Models.Entities;
@model IEnumerable<DrugStore.Models.Entities.LoaiThuoc>
@{
    DrugStoreDbContext dbContext = new DrugStoreDbContext().Created();
}
<div class="hero__categories-2">
    <div class="hero__categories__all-2">
        <span>Thuốc</span>
    </div>
    <ul class="ul-2">
        @foreach (var item in Model)
        {
            <li><a asp-action="Index" asp-controller="Shop" asp-route-idTHLSP="@item.MaLT" class="loaithuoc"><span>@item.TenLoaiThuoc</span></a></li>
        }
    </ul>
</div>
