
@model DrugStore.Models.Entities.LoaiThuoc
@{
    ViewData["Title"] = "Loại Thuốc";
    //Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Chi tiết</h2>

<div>
    <h4>Loại thuốc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenLoaiThuoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLoaiThuoc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaLT }) |
    @Html.ActionLink("Trở về danh sách", "Index")
</p>