@model DrugStore.Models.Entities.TrangThai

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết</h2>

<div>
    <h4>Trạng thái</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenTT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaTT }) |
    @Html.ActionLink("Trở về danh sách", "Index")
</p>
