<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Layout Admin</h1>
    <div>
        @RenderBody()
    </div>
    <script>

        fileImage.onchange = evt => {

            const [file] = fileImage.files

            if (file) {

                preview.src = URL.createObjectURL(file);

                $("#preview").removeClass("hidden");

            }

        }

    </script>
</body>
</html>
