@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Xác nhận email";
}

<h1>
    @ViewData["Title"]
</h1>
<p style="text-align:center;font-size:32px;color:#000;margin-top:20px">Cám ơn bạn đã xác nhận E-mail</p>
<img class="gmail" src="/theme/img/thank-you.png" alt="#" />

@*<partial name="_StatusMessage" model="Model.StatusMessage" />*@

