@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Đăng ký";
}

<h1>@ViewData["Title"]</h1>
<h2 id="external-login-title">liên kết của bạn @Model.ProviderDisplayName account.</h2>
<hr />

<p id="external-login-description" class="text-info">
    Bạn đã xác thực thành công với <strong>@Model.ProviderDisplayName</strong>.
    Vui lòng nhập địa chỉ email cho trang web này bên dưới và nhấp vào nút Đăng ký để hoàn tất
    đăng nhập.
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <label asp-for="Input.Email" class="form-label"></label>
                <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="Vui lòng nhập email."/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <label asp-for="Input.FirstName" class="form-label"></label>
                <input asp-for="Input.FirstName" class="form-control" autocomplete="email" placeholder="Vui lòng nhập họ." />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <label asp-for="Input.LastName" class="form-label"></label>
                <input asp-for="Input.LastName" class="form-control" autocomplete="email" placeholder="Vui lòng nhập tên." />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            @*<div class="form-floating mb-3">
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="email" placeholder="Vui lòng nhập số điện thoại." />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>*@
            <button type="submit" class="w-100 btn btn-lg btn-primary">Đăng ký</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
