@model IEnumerable<DrugStore.Models.Entities.LoaiSP>

<h1>Chọn Loại Sản Phẩm</h1><br /><br />

@foreach(var item in Model){
    <a asp-action="CreateType" asp-route-id="@item.MaLoaiSP" class="button">@item.TenLoaiSP</a>
    <br />
}

